// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color:#202122!important;
}

.navbar{
margin-bottom:0px !important
}

.home_header {
height:600px;
background-color:#ccc;
}

.inner_header {
padding:40px 0;
color:#fff;

background: linear-gradient(270deg, #0a144d, #00285f, #006381, #00406c);
background-size: 800% 800%;

-webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@keyframes AnimationName { 
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
}

.log_name{
	font-size:50px;
	font-weight:bold;
	padding-top:20px;	
}

.log_sml{
	padding-top:50px;
	font-size:20px;
	font-weight:bold;
}

.log_lrg{
	line-height:70px;
	font-size:80px;
	font-weight:bold;
	padding-top:10px;
	letter-spacing:-5px;
}

.log_entry_form{
	margin-top:40px;
	padding:20px;
	border:1px solid #d1dae3;
	background-color:#e9edf0;
	border-radius:10px;
}

.record_container{
	background-color:#f5f5f5;
	border:1px solid #e5e5e5;
	padding:20px;
	border-radius:10px;
	margin-top:20px;
}
.recordspace{
	border-top:1px solid #ccc;
	padding:10px 0 0 0;
	margin-top:20px;
}

.tiny_profile{
	padding-top:10px;
}

.record_btns{
margin-top:10px;
}

.log_profile_image img{
	border-radius:150px;
	border:15px solid white;
}