<% if current_page?(root_url) %>
  <div class="row">
    <div class="col-md-12 home_header">
    </div>
  </div>
<% end %>
<% if current_page?('/logbook') %>
  <div class="row">
    <div class="col-md-12 inner_header">
      <div class="container">
        <div class="col-md-3 col-sm-12 log_profile_image">
          <%= image_tag current_user.avatar.url(:medium) %>
        </div>
        <div class="col-md-9 col-sm-12">
          <div class="log_name"><%= current_user.first_name %> <%= current_user.last_name %></div>
          <div class="log_calc">
            <div class="log_sml">I have now walked approximately</div>
            <div class="log_lrg"><%= @distance %>km</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
